h1 {
  color: #afdafc;
}

.title {
  padding: 50px;
  color: #afdafc;
  margin: 0 auto;
  font-family: "ff-meta-web-pro","PT Sans","Lucida Grande","Lucida Sans","Lucida",Verdana,"Droid Sans",sans-serif;
  font-size: 40px;
}

body {
  text-align: center;
  margin: auto;
  background-color: #1a1a1a;
}

